/* Vars
------------------------------- */

:root {
	/* Colors
	------------------------------- */
	
	--color-00: #666;
	--color-01: #4393bf;
	--color-02: #bf8943;
	--color-03: #eee;

	/* 	Typographic scale: Base size 16px, scale 1.250 Major Third (https://type-scale.com/?size=16&scale=1.250&text=Vanish%20for%20Good&font=Open%20Sans%20Condensed&fontweight=400&bodyfont=Open%20Sans&bodyfontweight=400&lineheight=1.5&backgroundcolor=white&fontcolor=%23333&preview=false)
	------------------------------- */

	--scale--3: 8.19px;
	--scale--2: 10.24px;
	--scale--1: 12.8px;
	--scale-00: 18px;
	--scale-01: 20px;
	--scale-02: 25px;
	--scale-03: 32.25px;
	--scale-04: 39.06px;
	--scale-05: 48.83px;
	--scale-06: 61.04px;
	--scale-07: 76.29px;
	--scale-08: 95.37px;

	/* Font
	------------------------------- */
	
	--font-00: "Open Sans", Arial, sans-serif;
	--font-02: "Open Sans Condensed", Arial, sans-serif;
}

/* Body
------------------------------- */

body {
	margin: var(--scale-02) 0;
	padding: 0;
	font-family: var(--font-00);
	font-size: var(--scale-00);
	line-height: 1.5;
	color: var(--color-00);
}

/* Section
------------------------------- */

section {
	grid-template-rows: [headline-start] var(--scale-07) [content-start-start] 500px [sidebar-start] auto;
	grid-template-columns: [headline-start] min-content [content-start] 3fr [sidebar-start] 4fr [sidebar-end];
	grid-gap: var(--scale-01);
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 var(--scale-01);
}

@media(min-width: 1024px) {
	section {
		display: grid;
	}
}

/* Main
------------------------------- */

main {
	grid-row: 2 / span 2;
	grid-column: 2;
}

h1 {
	grid-row: 1 / -1;	
	margin: 0;
	padding: 0;
	font-size: var(--scale-05);
	font-family: var(--font-01);
	color: var(--color-01);
}

@media(min-width: 1024px) {
	h1 {
		transform: rotate(180deg);
		writing-mode: vertical-rl;
		text-align: right;
		font-size: var(--scale-08);
	}
}

h2 {
	margin: var(--scale-04) 0 0 0;
	color: var(--color-02);
	font-family: var(--font-02);
	font-size: var(--scale-03);
}

main p {
	margin: 0;
	line-height: 1.5;
}

main p + p {
	text-indent: var(--scale-01);
}

/* Intro paragraph
------------------------------- */

main p:first-child {
	margin: 0 0 var(--scale-04) 0;
	font-size: var(--scale-02);
	font-style: italic;
	color: #aaa;
}

/* Bag image
------------------------------- */

figure {
	grid-row: 2;
	grid-column: 3;
	justify-self: center;
	align-self: end;
	max-width: 100%;
	margin: var(--scale-03) 0;
}

@media(min-width: 1024px) {
	figure {
		margin: 0;
	}
}

figure figcaption {
	font-size: var(--scale--1);
	color: var(--color-01);
	font-style: italic;
}

/* Aside
------------------------------- */

aside {
	grid-row: 3;
	grid-column: 3;	
	color: var(--color-00);
}

@media(min-width: 600px) {
	aside {
		display: grid;
		grid-template-columns: [article-start] 1fr [list-start] 1fr [list-end];
		grid-gap: var(--scale-01);
		grid-gap: var(--scale-01);
	}
}

aside > article {
	margin-bottom: var(--scale-01);
	padding: var(--scale-02);
	border-radius: var(--scale-00);
	background-color: #eee;
}

aside h3 {
	margin: 0 0 var(--scale-02);
	color: var(--color-01);
	font-size: var(--scale-02);
}

aside p + p {
	margin: var(--scale-01) 0 0 0;
}

aside ul {
	margin-top: 0;
	column-count: 2;
}